page-authors {
    .container > div {
        margin-bottom: 41px;
        margin-top: 82px;
        padding: 0px !important;
     }
     .header{
        background: #0606c1;;
        top: 83px;
        color: white;
        text-indent: 6%;
        font-size: 0.8em;
        height: 30px;
    }
    .headerText{
       padding: 7px 0px;
       display: block;
    }
}
