// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.logo {
    height: 70px;
}
.navTitle > div{
    font-size: 1.4rem;
    font-weight: 400;
    color: #464646;;
}
.rightNav {
    float: right;
    padding: 23px;
    font-size: 2em;
}
.tabBar > div {
    background: black !important;
}
.headerWrapper > div {
    height: 100%;
    display: flex;
}
.appHeader{
    height: 82px;
}
.headerWrapper{
    padding: 1%;
    // min-height: 56px;
    height: 100%;
}